.container{
    display: flex; /*inline-flex é como se utilizasse display in-line*/
    background-color: aquamarine;
    padding: 20px;
    margin: 10px;
}

.item{
    background-color: coral;
    margin: 10px;

}

#container-01{
    flex-direction: row;
}

#container-02{
    flex-direction: column;
}

#container-03{
    flex-direction: row-reverse;
}

#container-04{
    flex-direction: column-reverse;
    height: 300px;
}

#container-05{
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap; /*tem wrap-reverse também, alem de nowrap*/
}

#container-06{
    flex-flow: column wrap-reverse;
    height: 300px;

}

#container-07{
    justify-content: space-between;
    flex-flow: column wrap-reverse;
    height: 300px;

}


#container-08{
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: flex-end;
    height: 300px;

}
.item01{
    background-color: rgb(47, 112, 226);


}


.item02{
    background-color: rgb(47, 112, 226);
    height: 100px;
    width: 80px;
    
}


.item03{
    background-color: rgb(47, 112, 226);
    height: 30px;
    width: 80px;
    
}

#container-09{
    justify-content: space-evenly;
    flex-flow: column wrap;
    height: 300px;
    row-gap: 20px;
    /* é possível usar o comando gap: <espaço entre linhas> <espaço entre colunas>;
    pode inclusive utilizar outros espaçamento de medidas como rem */

}

#container-10{
    background-color: darkmagenta;
    justify-content: space-evenly;
    flex-flow: column wrap;
    height: 300px;

}
.item-04{
    /* para ser o primeiro elemento: */
    order:-2; 

}

.item-09{
    order: -1;
}

#container-11{
    background-color: rgb(15, 242, 34);
    align-items: flex-start;
    gap: 10px;

}

.flexg{
    flex-grow: 2;
    /* para controlar o tamanho dos itens filho do container pode-se utilizar a propriedade flex-shrink */
    /* o flex-basis: define o tamanho inicial do elemento filho. Valor padrão auto define o tamannho pelo conteúdo */
    /* o flex-grow pega o tamanho base do flex-basis  */

}

#container-12{
    background-color: rgb(99, 81, 81);
    align-items: flex-start;
    gap: 10px;

}

.flexsh{
    flex: 1 1 10px;
    /* flex: <grow> <shrink> <basis>; */
}


#container-13{
    background-color: rgb(106, 4, 4);
    height: 300px;
    align-items: flex-start;
    gap: 10px;

}

.item-align{
    align-self: flex-end;
}
