body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
    "header header header header"
    " main main . sidebar"
    "footer footer footer footer" ;

    /* Sobre shorthand usando grid-template:
    grid-template:"<nomes das áreas>" <tamanho> / <valor de cada largura das colunas> 
    exemplo: 
    grid-template: 
    "header header header header" 100px
    " main main . sidebar" 300px
    "footer footer footer footer" 100px
    / 1fr 3fr 1fr 1fr ; */
}

.container{
    border: 2px solid black;
    display: grid;
}

header{
    background-color: orange;
    grid-area: header;
}
main{
    background-color: deepskyblue;
    grid-area: main;
}

aside{
    background-color: lightcoral;
    grid-area: sidebar;
}

footer{
    background-color: aquamarine;
    grid-area: footer;
}