body{
    font-family: 'Courier New', Courier, monospace;
}


.exemplo{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    border: 100px solid;
    margin: auto;
    margin: 50px auto;

}

#exemplo-1{
    border-image-source: url('../assets/images/polygons.jpg');
    border-image-repeat: round;
    border-image-slice: 169 ;
    border-image-outset: 1; /**coloca a borda para fora do elemento*/

}

#exemplo-2{
    border-image-source: linear-gradient(rgb(0, 162, 255), rgb(30, 234, 156));
    border-image-slice:100;
    border-image-width: 10px; /*pode=se utilizar 4 valores também como em outros comandos*/
                                /*aceita o argumento auto também.*/
    border-image-outset: 30px 10px 60px 100px; /**coloca a borda para fora do elemento*/
}

#exemplo-3{
    border-image: url('../assets/images/squares.png')  27 / 50px / 1 repeat ;
}